# *******************************************************************************
# Copyright (c) 2026 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-FileCopyrightText: 2026 Contributors to the Eclipse Foundation
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

external-sources=true

# Enable all checks as long as it works
# This might create surprises when updating shellcheck and it adds new checks.
# If this becomes annoying we have to selectively enable checks
enable=all

# required checks, no reason not to fix them except difficulty and fear to break code
disable=SC2046

# optional checks, fixes might not be easy and better not break the code
disable=SC2292,SC2154,SC2312
