Port 22
HostKey /var/ssh/ssh_host_rsa_key

PasswordAuthentication yes
PermitEmptyPasswords no
PubkeyAuthentication yes
PermitRootLogin without-password
PermitUserEnvironment no
PidFile none
StrictModes yes
UseDNS no
LogLevel INFO

Subsystem sftp /usr/lib/ssh/sftp-server
